version: '3'
services:
  commando:
    command: ["node", "--inspect=0.0.0.0:9229", "Commando.js"]
    ports:
      - "9229:9229"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - TOKEN=BOT_TOKEN
      - CLIENT_ID=BOT_CLIENT_ID
